@import '../../variables.scss';

.home {
  background: {
    color: rgba(0,0,0,0.5);
    image: url('../../images/wave2.png');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  background-blend-mode: darken;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  margin: {
    left: 40px;
    right: 40px;
  }
  padding-top: 20px;
}

h2 {
  font: {
    family: $title-font;
    size: 2.5rem;
  }
  text-decoration: underline;
}

.sign-out {
  color: $light-text-color;
  font-size: 1.2rem;
  margin: {
    bottom: auto;
    top: auto;
  }
  &:hover {
    color: $medium-text-color;
    text-decoration: none;
  }
}

.profile-icon {
  color: $light-text-color;
  height: 150px;
  margin: none;
}

.user-container {
  width: 15%;
}

.project-section {
  display: flex;
  height: 400px;
  justify-content: space-between;
  margin: {
    left: 40px;
    right: 40px;
    top: 5%;
  }
}

.projects-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 75%;
}

.username-label {
  display: block;
  font-size: 2rem;
}
